
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! {{ myVar }}! - customTitle-- {{customTitle}}
  </h1>
</div>

<app-parent [customTitle]="testVar"></app-parent>


<h1>Blog Posts</h1>
<div *ngIf="undefined === restItems">Loading...</div>

<div *ngIf="undefined !== restItems">
<p *ngIf="restItems['items'].length > 0">There are many items!</p>  
  <ul>
    <li *ngFor="let post of restItems['items']" [innerHTML]="post.name">
     --->>>> post.short_URL  --- >>>>>>>>
    </li>
    <li *ngFor="let item of restItems['items']">
          {{ item.name }} --  {{ item.price }}
    </li>
  </ul>
</div>


<div style="text-align:center">
  <h1>
      {{makeComputer()}}!!
  </h1>
</div>





